@import 'colors.less';
.principal-banner-dad{
    margin-top: 60px;
    background-color: @gris;
    width: 100%;
    height: 80vh;
    position: relative;
    .questionnaire{
        width: 100%;
        position: absolute;
        height: 130px;
        background: rgba(85, 85, 85, 0.8);
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        color: @full-blanco;
        h2{
            width: 100%;
            text-align: center;
        }
        .questionnaire-button{
            border: 1px solid;
            padding: 20px;
            color: #fff;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                color: rgba(85, 85, 85, 0.8);
                background: #fff;
            }
        }
        #maintenance-button{
            left: 25%;
        }
        #design-button{
            right: 25%;
        }
    }
    .banner{
        width: 100%;
    }
}
.what-dad{
    background-color: @full-blanco;
    flex-wrap: wrap;
    justify-content: space-around;
    .what-ch{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 26%;
        min-width: 300px;
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        & .img{
            width: 100%;
            border-radius: 0px 15px 0px 15px;
            overflow: hidden;
            cursor: pointer;
            & .img-ch{
                background-size: cover;
                background-position: center;
                height: 250px;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            & .img-mantenimiento{
                background-image: url("img/mantenimiento.jpg");
            }
            & .img-diseno{
                background-image: url("img/diseno.jpg");
            }
            & .img-jardineria{
                background-image: url("img/jardineria.jpg");
            }
        }
        & .description{
            & h3{
                margin-top: 7px;
                margin-bottom: 7px;
            }
            & p{
                font-size: 14px;
            }
        }
    }
}
.who-dad{
    background-color: @full-blanco;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    .img-dad{
        width: 48%;
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 330px;
        filter: sepia(70%);
        border: 1px solid;
        background-image: url("img/equipo.jpg");
        background-size: cover;
        background-position: center;
    }
    .description{
        width: 48%;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #333;
        h3{
            font-size: 24px;
        }
        p{
            margin-top: 10px;
        }
    }
}
.footer-container{
    width: 100%;
    background-color: @gris;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .footer-dad{
        flex-wrap: wrap;
        width: 100%;
        max-width: 1240px;
        .form-dad{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 8px;
            .form-group{
                width: 100%;
                margin-top: 15px;
                input{
                    width: 100%;
                    background-color: @gris;
                    border: 1px dashed @azul;
                    padding: 8px;
                    font-size: 16px;
                    text-transform: uppercase;
                    &:focus{
                        border: 1px solid @gris;
                        outline: 1px solid @azul;
                    }
                    &::placeholder{
                        color: @azul;
                    }
                }
                textarea{
                    width: 100%;
                    background-color: @gris;
                    border: 1px dashed @azul;
                    resize: none;
                    padding: 8px;
                    font-size: 16px;
                    text-transform: uppercase;
                    height: 150px;
                    outline: @azul;
                    &:focus{
                        border: 1px solid @gris;
                        outline: 1px solid @azul;
                    }
                    &::placeholder{
                        color: @azul;
                    }
                }
                &.botonera{
                    display: flex;
                    justify-content: space-around;
                    & .btn{
                        padding: 8px 15px;
                        border: 1px solid;
                        cursor: pointer;
                        color: @azul;
                        background-color: @gris;
                        transition: 0.2s;
                        &:hover{
                            color: @gris;
                            background-color: @azul;
                        }
                    }
                }
            }
        }
        .networks-dad{
            width: 20%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
            max-height: 70%;
            h3{
                width: 100%;
                text-align: center;
                margin-top: 7px;
                margin-bottom: 7px;
            }
            .networks-ch{
                font-size: 35px;
                text-decoration: none;
                color: #aaa;
                width: 50%;
                text-align: center;
                &:hover{
                    transform: scale(1.08);
                }
            }
        }
        .info-dad{
            width: 40%;
            border: 1px solid;
        }
        .clientes-dad{
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px 0;
            h3{
                width: 100%;
                text-align: center;
                margin: 10px 0;
            }
            .clientes-ch{
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                filter: grayscale(100%);
                width: 10%;
                min-width: 100px;
                height: 80px;
            }
            #monterrey{
                background-image: url("img/monterrey-centrocomercial1.png");
            }
            #san-nicolas{
                background-image: url("img/logoSanNicolas.png");
            }
            #premium-plaza{
                background-image: url("img/premium%20plaza.png");
            }
            #casa-limpia{
                background-image: url("img/casa-limpia-logo-png-transparent.png");
            }
        }
    }
}
.titles{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
@media(max-width:800px){
    .who-dad .img-dad, .who-dad .description{
        width: 100%;
    }
    .footer-container .footer-dad .form-dad{
        order: 1;
        width: 50%;
    }
    .footer-container .footer-dad .info-dad{
        order: 2;
        width: 50%;
    }
    .footer-container .footer-dad .networks-dad{
        order: 3;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        .networks-ch{
            width: 25%;
        }
    }
    .footer-container .clientes-dad{
        order: 4;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
        .clientes-ch{
            width: 20%;
        }
    }
}
.modal-dad{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(204, 204, 204, 0.7);
    transform: scale(0);
    z-index: 20;
    &--active{
        transform: scale(1);
    }
    .modal-ch{
        width: 30%;
        min-width: 300px;
        max-width: 500px;
        height: 65vh;
        background-color: @blanco;
        transform: scale(0);
        transition: 0.2s;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px rgba(0,0,0, 0.5);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &--active{
            transform: scale(1);
            transition: 0.2s;
        }
        #cierre-modal{
            position: absolute;
            font-size: 30px;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
    }
}