@import 'colors.less';
.row{
    width: 100%;
    display: flex;
}
.principal-container{
    max-width: 1200px;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 100vw;
}
.mega-menu-dad{
    background-color: @azul;
    height: 60px;
    position: fixed;
    top: 0px;
    opacity: 0.9;
    z-index: 10;
    max-width: 100%;
    nav.mega-menu-nav{
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .items-dad{
            display: flex;
            flex-direction: row;
            #logo-home{
                width: 200px;
                background-image: url("img/logo-disenate.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                align-items: flex-start;
            }
            a{
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                color: @blanco;
                text-decoration: none;
            }
        }
    }
}